* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    display: flex;
    background-color: blue;
}